@media screen and (max-width:800px){
    /*Header*/
    body{
        width: 100%;
    }
    .menu-nav{
        background-color: rgb(199, 8, 8);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(6,1fr);
        justify-items: end;
        max-height: 35vh;
        padding: 3vh 20vh 3vh 2vh;
    }
    #imagen{
        grid-column: 2;
        grid-row: 1;
    }
    .menu-nav h1{
        grid-column: 2;
        grid-row: 2;
    }
    .menu-nav li{
        grid-column: 2;
        grid-row: 3;
    }
    .menu-nav a{
        display: flex;
        margin-top: 1vh;
        flex-direction: column;
        text-align: end;        
    }
    
    /*main*/
     .portada{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(8,1fr);
        justify-items: center;
       
    }
    .info-contenido{
        grid-column: 2/4;
    } 



}